/*Global*/

:root {
    /*Primary*/

    --Darkcyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    
    /* Neutral*/
    
    --verydarkblue: hsl(212, 21%, 14%);
    --darkgrayishblue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}
* {
    
}
body {
    background-color: var(--Cream);
}
p{
    font-size: 14px;
    font-family:'Montserrat';
    font-size: 10px;
}
i {
    padding-top: 11px;
}
/*Classes*/
/*
/*quadro central*/
.portrait {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 360px;
    height: 252px;
    border-radius: 4px;
    margin: auto;
    margin-top: 150px;
}
.text {
    padding-right: 40px;
    padding-top: 5px;
    width:270px;
    padding-left: 20px;
}
.title {
    color:var(--darkgrayishblue);
    font-size: 9px;
    letter-spacing: 3px;
}
.bigger-txt {
    font-size: 16px;
    font-family:'Fraunces';
    padding-top: 0;
    margin: 0;
}
.description {
    color:var(--darkgrayishblue);
    font-size:7.52px;
    padding-top: 0;
    line-height: 12px;
}
/*Container dos valores flex*/
.hold-cash {
    display: flex;
}
.green-money {
    color: var(--Darkcyan);
    font-size: 18.5px;
    margin-top: 11px;
    font-family: 'Fraunces';
    margin-right: 0;
    padding-right: 0;
    padding-top: 0;
}
.discount {
    color: var(--darkgrayishblue);
    font-size: 7px;
    margin-left: 0;
    padding-left: 10px;
    padding-top: 11.5px;
    text-decoration: line-through;
}
.btn {
    background-color:var(--Darkcyan);
    border:0px solid;
    border-radius: 3px;
    font-size: 10px;
    padding: 0px 30px;
    position: absolute;
    margin-bottom: 18px;
    color: white;
    display: flex;
    
}
.inner-btn-text {
    margin-left: 8px;
}
.btn:hover {
    cursor: pointer;
    background-color: hsl(158, 34%, 40%);
}
.image-parfum {
    background-image: url("/images/image-product-desktop.jpg");
    width: 110%;
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover ;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    
}