/*Global*/

* {
    
}
body {
    background-color: var(--Cream);
}
:root {
    /*Primary*/

    --Darkcyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    
    /* Neutral*/
    
    --verydarkblue: hsl(212, 21%, 14%);
    --darkgrayishblue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}
p{
    font-size: 14px;
    font-family:'Montserrat';
    font-size: 10px;
}
img {
    width: 175px;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/*Classes*/
/*quadro central*/
.portrait {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 350px;
    border-radius: 4px;
    margin: auto;
    margin-top: 150px;
}
.text {
    padding-right:38px;
    padding-left:15px;
    padding-top: 5px;
}
.title {
    color:var(--darkgrayishblue);
}
.bigger-txt {
    font-size: 16px;
    font-family:'Fraunces';
    padding-top: 0;
    margin: 0;
}
.description {
    color:var(--darkgrayishblue);
    font-size:7.52px;
    padding-top: 0;
    line-height: 12px;
}
/*Container dos valores flex*/
.hold-cash {
    display: flex;
}
.green-money {
    color: var(--Darkcyan);
    font-size: 18.5px;
    margin-top: 11px;
    font-family: 'Fraunces';
    margin-right: 0;
    padding-right: 0;
    padding-top: 0;
}
.discount {
    color: var(--darkgrayishblue);
    font-size: 7px;
    margin-left: 0;
    padding-left: 10px;
    padding-top: 11px;
    text-decoration: line-through;
}
.btn {
    background-color:var(--Darkcyan);
    border:0px solid;
    border-radius: 3px;
    font-size: 10px;
    padding: 0px 30px;
    position: absolute;
    margin-bottom: 18px;
    color: white;
    display: flex;
    
}
.inner-btn-text {
    margin-left: 8px;
}
.btn p {
    
}
i {
    padding-top: 11px;
    padding-right: ;
}